.Content {
    background-color: ivory;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Search {
    text-align: center
}

.Clearing {
    clear: both;
}

.selection {
    margin-left: 1%;
    color: white;
    background-color: cornflowerblue;
    font-size: 14px;
    width: 10%;
}

.metric {
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 2%;
    font-size: 16px;
}

.button {
    background-color: cornflowerblue; /* Green */
    border: none;
    color: white;
    padding: 10px;
    padding-bottom: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    margin-left: 2px;
    cursor: pointer;
    border-radius: 2px;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid cornflowerblue;
    background-color: ivory;
    padding: 0.4%;
    width: 35%;
    margin-bottom: 0%;
  }

  
.day {
    text-align: center;
    font-weight: bold;
}

.MinMaxTemp {
    text-align: center;
    font-size: 16px;
}

.CityName {
    font-size: 36px;
}

.temperature {
    font-size: 24px;
    float: right;
    padding-top: 8%;
}

.Inline {
    display: flex;
}

.image {
    float: left;
}

@media screen and (min-width: 0px) and (max-width: 399px) {

    .Forecast {
        margin: 5px;
        width: 100%;
        text-align: center;
    }

    .Box {
        width: 100%;
        text-align: center;
    }

    .left-side {
        padding: 5%;
        text-align: center;
    }

    .image {
        padding-left: 15%;
    }

    .right-side {
        padding: 5%;
    }

    .icon {
        text-align: center;
    }

    .temperature {
        padding-top: 12%;
    }
}

@media screen and (min-width: 400px) and (max-width: 869px) {
    
    .Forecast {
        float: left;
        flex: 1 0 25%;
        margin: 5px;
        width: 100%;
        text-align: center;
    }

    .Box {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .left-side {
        float: left;
        padding: 5%;
        padding-left: 15%;
    }

    .right-side {
        float: right;
        padding-top: 8%;
        padding-left: 15%;
    }

    .icon {
        text-align: center;
    }
}

@media screen and (min-width: 870px) {

    .Box {
        display: flex;
        width: 100%;
    }

    .Forecast {
        float: left;
        width: 100%;
        text-align: center;
    }

      .left-side {
          float: left;
          padding: 5%;
          width: 50%
      }

      .right-side {
          float: right;
          padding: 5%;
          padding-top: 8%;
          width: 50%
      }

}